In [2]:
# Import dependencies
import pandas as pd
import os
import csv

In [10]:
# Read in vine_table.csv as a DataFrame
vine_df = pd.read_csv("vine_table.csv")

In [30]:
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R215C9BDXTDQOW,4.0,0.0,0.0,N,Y
1,R1DTPUV1J57YHA,5.0,0.0,0.0,N,Y
2,RFAZK5EWKJWOU,5.0,0.0,0.0,N,Y
3,R2XT8X0O0WS1AL,5.0,0.0,0.0,N,Y
4,R14GRNANKO2Y2J,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2634776,R31RY9FAMME35M,5.0,6.0,7.0,N,N
2634777,RDLHL0TYSIB0Q,5.0,35.0,36.0,N,N
2634778,R1I1CGOZ1JRU0K,5.0,1.0,1.0,N,N
2634779,R33H78XIEN6NIM,5.0,25.0,28.0,N,Y
2634780,R3RFG40AIBRQL5,5.0,5.0,5.0,N,N

## 1. Filter data where total_votes >= 20

In [6]:
# Filter data where total_votes >= 20 
vine_votes_df = vine_df[vine_df['total_votes']>=20]

In [31]:
vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
...,...,...,...,...,...,...
2634772,R2OO5EMLJ6YAJX,4.0,54.0,55.0,N,N
2634773,R9W60J64DJW18,5.0,36.0,44.0,N,N
2634774,R1UP56S8JSFN8X,5.0,23.0,25.0,N,N
2634777,RDLHL0TYSIB0Q,5.0,35.0,36.0,N,N
2634779,R33H78XIEN6NIM,5.0,25.0,28.0,N,Y

## 2. Filter previous df for rows where helpful_votes/total_votes is >= 50%

In [8]:
# Filter previous df for rows where helpful_votes/total_votes is >= 50%
vine_helpful_df = vine_votes_df[(vine_votes_df['helpful_votes']/vine_votes_df['total_votes'])>=.50]

In [9]:
vine_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
...,...,...,...,...,...,...
2634772,R2OO5EMLJ6YAJX,4.0,54.0,55.0,N,N
2634773,R9W60J64DJW18,5.0,36.0,44.0,N,N
2634774,R1UP56S8JSFN8X,5.0,23.0,25.0,N,N
2634777,RDLHL0TYSIB0Q,5.0,35.0,36.0,N,N
2634779,R33H78XIEN6NIM,5.0,25.0,28.0,N,Y

## 3. Filter previous df where review was written as part of the Vine program (paid), vine =='Y'

In [11]:
# Filter previous df where review was written as part of the Vine program (paid), vine =='Y'
vine_paid_df = vine_helpful_df[vine_helpful_df['vine']=='Y']

In [12]:
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4983,R29V4UDSS053D8,3.0,33.0,38.0,Y,N
47803,R1I2D068WC37PA,3.0,32.0,37.0,Y,N
204900,R13W2U74F67QED,5.0,62.0,76.0,Y,N
208432,R2QI37XFOBKUGD,4.0,24.0,33.0,Y,N
226580,R19F60BB2DNCKN,5.0,170.0,174.0,Y,N
...,...,...,...,...,...,...
2598147,RQ9PRZNBWJ1B1,4.0,68.0,71.0,Y,N
2598525,R1AGE43H483VMW,5.0,125.0,137.0,Y,N
2598532,R1C031N2XWPGPA,4.0,151.0,159.0,Y,N
2599771,R1P7TCXHNE2X4V,5.0,22.0,25.0,Y,N
2608468,R2BK422SPPVFF9,4.0,24.0,24.0,Y,N

## 4. Filter previous df where review was written not as part of the Vine program (unpaid), vine =='N'

In [13]:
# Filter previous df where review was written not as part of the Vine program (unpaid), vine =='N'
vine_unpaid_df = vine_helpful_df[vine_helpful_df['vine']=='N']

In [14]:
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
...,...,...,...,...,...,...
2634772,R2OO5EMLJ6YAJX,4.0,54.0,55.0,N,N
2634773,R9W60J64DJW18,5.0,36.0,44.0,N,N
2634774,R1UP56S8JSFN8X,5.0,23.0,25.0,N,N
2634777,RDLHL0TYSIB0Q,5.0,35.0,36.0,N,N
2634779,R33H78XIEN6NIM,5.0,25.0,28.0,N,Y

## 5. Determine total number of review, number of 5-star reviews, and the percentage of 5-star reviews for the two types of review

### Total Reviews

In [54]:
# Determine total number of reviews in helpful dataframe
len(vine_helpful_df)

39095

### Total 5-star reviews

In [20]:
# Determine how many 5 star reviews there were
fivestar_df = vine_helpful_df[vine_helpful_df['star_rating']==5]

In [49]:
len(fivestar_df)

18371

### Percentage 5-star reviews for paid

In [50]:
# Determine percentage of 5-star reviews for paid for reviews
# Determine total paid for reviews
total_paid = len(vine_paid_df)
total_paid

266

In [51]:
# Determine total 5 star paid for reviews
total_paid_fivestar = len(vine_paid_df[vine_paid_df['star_rating']==5])
total_paid_fivestar

125

In [52]:
# Percentage 5 star reviews for paid reviews
fivestar_paid_pct = (total_paid_fivestar/total_paid)

In [53]:
fivestar_paid_pct

0.4699248120300752

### Percentage 5-star reviews for unpaid

In [45]:
# Determine percentage of 5-star reviews for unpaid for reviews
# Determine total paid for reviews
total_unpaid = len(vine_unpaid_df)
total_unpaid

38829

In [46]:
# Determine total 5 star unpaid for reviews
total_unpaid_fivestar = len(vine_unpaid_df[vine_unpaid_df['star_rating']==5])

In [47]:
# Percentage 5 star reviews for paid reviews
fivestar_unpaid_pct = (total_unpaid_fivestar/total_unpaid)

In [48]:
fivestar_unpaid_pct

0.4699065131731438